<a href="https://colab.research.google.com/github/kvkirankumar/Python_Project/blob/master/KV_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
i=45
print ('This is my first variable in python' , i)
k = i % 2
print ('Value of k', k )
k = int(input('Enter a number'))
print ('Buddy, you entered ',k)

This is my first variable in python 45
Value of k 1
Enter a number232323232323232323232323232323232323232323232323232323
Buddy, you entered  232323232323232323232323232323232323232323232323232323

In [20]:
words =['Hariteja','Tamoghneshu','Venkata Kiran Kumar','Gowthami']
for i in words:
     print (i,end=" ")
print ("\n")
print ("Start Over")
for i in range(10):
    print (i, end='\t ')

Hariteja Tamoghneshu Venkata Kiran Kumar Gowthami

Start Over
0	 1	 2	 3	 4	 5	 6	 7	 8	 9

Continue, Break and Pass clauses

In [26]:
for i in range (1 , 50):
  if (i % 2 == 0):
      print (i, ' is an even number')
      continue
  else:
     print (i, ' is an odd number')
     pass;
  if i > 25:
      break;
    
  # Comments here

1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number
10  is an even number
11  is an odd number
12  is an even number
13  is an odd number
14  is an even number
15  is an odd number
16  is an even number
17  is an odd number
18  is an even number
19  is an odd number
20  is an even number
21  is an odd number
22  is an even number
23  is an odd number
24  is an even number
25  is an odd number
26  is an even number
27  is an odd number

**Functions**

In [37]:
def fib2(n):  
     """
     FIBONACCI SERIES
     
     Return a list containing the Fibonacci series up to n."""
     result = []
     a, b = 0, 1
     while a < n:
         result.append(a)    # see below
         a, b = b, a+b
     return result
;
print (fib2.__doc__)
print()
print ('The fibonacci of 20  is',fib2(20));
f1=fib2
print('The fibonacci f1(30) is', f1(30))
f2=fib2(50)
print('the fibonacci 50  f2 is', f2)

     FIBONACCI SERIES

     Return a list containing the Fibonacci series up to n.

The fibonacci of 20  is [0, 1, 1, 2, 3, 5, 8, 13]
The fibonacci f1(30) is [0, 1, 1, 2, 3, 5, 8, 13, 21]
the fibonacci 50  f2 is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]